<%- include(global.app.get('views') + '/global/header') %>
    <div class="intro">
        <div class="intro-cover"></div>
        <div class="intro-content">
            <div class="container">
                <!-- OF WANNABLE, BY WANNABLE, FOR WANNABLE
                <br> FAN FICTION WEBSITE -->
            </div>
        </div>
    </div>
    <div class="latestUpadate">
        <div class="container">
            <div class="gridView">
                <div class="gridView-item">
                    <div class="gridView-item-cover"></div>
                    <div class="gridView-item-content">The smell of chestnut flowers</div>
                </div>
                <div class="gridView-item">
                    <div class="gridView-item-cover"></div>
                    <div class="gridView-item-content"></div>
                </div>
                <div class="gridView-item">
                    <div class="gridView-item-cover"></div>
                    <div class="gridView-item-content"></div>
                </div>
                <div class="gridView-item">
                    <div class="gridView-item-cover"></div>
                    <div class="gridView-item-content"></div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="clearfix"></div>

    <%- include(global.app.get('views') + '/global/footer') %>