</div>
<footer>
	<div class="container">
		<div class="partition partition-3">
			logo
		</div>
		<div class="partition partition-9">
			content
		</div>
	</div>
</footer>
<script src="/js/global.js"></script>
<script src="/js/<%= filename %>.js"></script>
</body>

</html>