@media screen {
    * {
        margin: 0px;
        outline: none;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
    }
    img {
        border: none;
    }
    textarea {
        resize: none;
    }
    html {
        height: 100%;
        width: 100%;
        padding: 0px;
    }
    body * {
        overflow: hidden;
    }
    body {
        margin: 0px;
        padding: 0px;
        height: 100%;
        width: 100%;
        /* font-family: 'Dosis', 'Noto Sans KR', sans-serif; */
        background-color: #faf9fb;
        overflow-x: hidden;
    }
    .container {
        width: 100%;
        height: auto;
        position: relative;
        max-width: 1200px;
        margin: 0 auto;
    }
    header {
        width: 100%;
        height: 50px;
        position: fixed;
        left: 0px;
        top: 0px;
        background-color: #231244;
        color: #fcfcfc;
        text-align: center;
        /* line-height: 60px; */
        z-index: 300;
        /* transition: all .2s ease-in-out; */
        user-select: none;
    }
    header * {
        /* transition: all .2s ease-in-out; */
    }
    header.scrolled {
        height: 50px;
    }
    header .header-content {
        width: auto;
        height: 50px;
        display: table;
        /* margin: auto; */
    }
    header.scrolled .header-content {
        height: 50px;
    }
    header .header-content .header-logo {
        width: 50px;
        height: 50px;
        position: relative;
        display: inline-block;
        vertical-align: top;
        background-color: #432282;
        /* background-image: url(//storage.googleapis.com/cr-resource/image/2e3a142be5cabd704a705c52cf83125b/whosduck/de843e14c358b41055f513216527a59b.png); */
        background-size: 100% 100%;
        background-repeat: no-repeat;
        /* background-color: #ee008c; */
        cursor: pointer;
    }
    header .header-content .header-menus {
        width: auto;
        height: 50px;
        position: relative;
        display: inline-block;
        vertical-align: top;
    }
    header.scrolled .header-content .header-menus {
        height: 50px;
    }
    header .header-content .header-menus .header-menus-title {
        width: auto;
        height: 50px;
        position: relative;
        display: inline-block;
        text-align: justify;
        line-height: 50px;
        padding: 0 1em;
        font-family: "Bradley Hand ITC";
        font-size: 1.2em;
        cursor: pointer;
    }
    header.scrolled .header-content .header-menus .header-menus-title {
        height: 0px;
    }
    header .header-content .header-menus .header-menus-buttons {
        width: auto;
        height: 50px;
        position: relative;
        display: inline-block;
    }
    header .header-content .header-menus .header-menus-buttons .header-menus-buttons-button {
        width: auto;
        height: auto;
        line-height: 50px;
        display: inline-block;
        text-align: justify;
        padding: 0 .5em;
        cursor: pointer;
        text-decoration: none;
        /* color: #170807; */
        color: #fcfcfc;
        letter-spacing: 0px;
    }
    .wrapper {
        width: 100%;
        height: auto;
        position: relative;
        padding-top: 50px;
        padding-bottom: 70px;
        /* border-bottom-left-radius: 50px;
        border-bottom-right-radius: 50px; */
        background-color: #eae1ef;
    }
    .intro {
        width: 100%;
        height: auto;
        max-height: 300px;
        max-height: 30vh;
        position: relative;
        display: block;
        /* background-color: #170807; */
        /* background: #36b0d8;
        background: -moz-linear-gradient(-45deg, #36b0d8 10%, #c6cbcc 90%);
        background: -webkit-linear-gradient(-45deg, #36b0d8 10%, #c6cbcc 90%);
        background: linear-gradient(135deg, #36b0d8 10%, #c6cbcc 90%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#36b0d8', endColorstr='#c6cbcc', GradientType=1); */
        background-color: #432282;
        color: #fcfcfc;
        /* background-image: url(//storage.googleapis.com/cr-resource/image/2e3a142be5cabd704a705c52cf83125b/whosduck/7bb1f6172f9487af6ab5096ca2ab5838.gif); */
    }
    .intro .intro-background{
        width: 120%;
        height: 120%;
        position: absolute;
        left: -10%;
        top: -10%;
        background-size: cover;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        filter: blur(10px);
    }
    .intro .intro-cover {
        padding: 50%;
        /* background-color: #170807aa; */
    }
    .intro .intro-content {
        position: absolute;
        left: 50%;
        bottom: 0;
        width: 100%;
        height: 100%;
        max-width: 300px;
        max-height: 400px;
        text-align: center;
        background-size: 70% auto, 100% auto;
        background-repeat: no-repeat, no-repeat;
        background-position: 50% 100%, 50% 0%;
        background-image: url(/img/woojin.png), url(/img/logo.png);
        transform: translateX(-50%);
    }
    .intro .intro-image{
        width: auto;
        height: 100%;
        position: absolute;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
    }
    .subMenu {
        width: 100%;
        height: auto;
        display: block;
        position: relative;
        user-select: none;
    }
    .subMenu a {
        width: auto;
        height: auto;
        padding: 10px;
        color: #432282;
        font-size: 1em;
        font-weight: 700;
        text-decoration: none;
        position: relative;
        display: inline-block;
    }
    .subMenu a.selected {
        background-color: #432282;
        color: #fcfcfc;
    }
    .tags {
        width: 100%;
        height: auto;
        position: relative;
        display: block;
        user-select: none;
    }
    .tags .tags-member {
        width: 100%;
        height: auto;
        max-width: 150px;
        background-color: #e0e0e0;
        position: relative;
        display: inline-block;
        margin-right: 10px;
        margin-bottom: 10px;
        cursor: pointer;
    }
    .tags .tags-member .tags-member-image {
        width: 100%;
        height: auto;
        padding-bottom: 150%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 0%;
        transition: all .1s ease-in-out;
    }
    .tags .tags-tag {
        width: auto;
        height: auto;
        position: relative;
        display: inline-block;
        padding: 8px 15px;
        background-color: #e0e0e0;
        color: #444;
        font-weight: 100;
        cursor: pointer;
        transition: all .05s ease-in-out;
        border-radius: 8px;
    }
    .tags .tags-member:hover,
    .tags .tags-member.selected,
    .tags .tags-tag.selected {
        background-color: #432282;
        color: #fcfcfc;
    }
    .tags .tags-member:hover .tags-member-image {
        transform: scale(.98);
    }
    .tags .tags-member.selected .tags-member-image {
        transform: scale(.96);
    }
    .gridView {
        position: relative;
        width: auto;
        display: inline-block;
        text-align: justify;
    }
    .gridView .gridView-item {
        width: 30%;
        height: auto;
        min-width: 200px;
        max-width: 300px;
        margin-right: 20px;
        margin-bottom: 20px;
        float: left;
        border: 1px solid #fcfcfc;
    }
    .gridView .gridView-item .gridView-item-cover {
        width: 100%;
        height: auto;
        padding: 50%;
        background-color: #fcfcfc;
    }
    .gridView .gridView-item .gridView-item-content {
        width: 100%;
        height: 50px;
        line-height: 50px;
        text-align: center;
        padding: 0;
        background-color: #fcfcfc;
    }
    .listView {
        width: 100%;
        height: auto;
        position: relative;
        display: inline-block;
        text-align: justify;
    }
    .listView .listView-item {
        width: 100%;
        height: auto;
        min-height: 150px;
        /* max-height: 300px; */
        overflow: hidden;
        position: relative;
        display: block;
        padding: 10px;
        background-color: #fcfcfc;
        margin-bottom: 20px;
        cursor: pointer;
        user-select: none;
    }
    .listView .listView-item .listView-item-content {
        float: left;
        width: 80%;
    }
    .listView .listView-item .listView-item-theme {
        /* width: 80%; */
        width: 100%;
        height: auto;
        position: relative;
        display: inline-block;
        /* background-color: #eee; */
        border-radius: 5px;
        font-size: 1em;
        margin-bottom: 5px;
        padding: 5px;
        max-height: 50px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .listView .listView-item:hover .listView-item-theme {
        text-decoration: underline;
    }
    .listView .listView-item .listView-item-description {
        /* width: 80%; */
        width: 100%;
        height: auto;
        position: relative;
        display: block;
        display: -webkit-box;
        /* background-color: #eee; */
        border-radius: 5px;
        font-size: .8em;
        /* margin-bottom: 5px; */
        padding: 3px 5px;
        max-height: 55px;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }
    .listView .listView-item .listView-item-cover {
        width: 20%;
        padding-bottom: 20%;
        background-color: #eee;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        float: right;
        /* position: absolute;
        right: 5px;
        top: 5px; */
    }
    .latestUpadate {
        /* padding-top: 20px; */
        /* background-color: #eee; */
    }
    .content {
        display: table;
        background-color: #fff;
        width: 100%;
        padding-top: 2em;
    }
    .content .content-line {
        display: table-row;
    }
    .content .content-line>div {
        display: table-cell;
        vertical-align: top;
    }
    .content-article {
        height: auto;
        position: relative;
        padding: 3em 0;
        /* display: inline-block; */
        /* max-width: 800px; */
    }
    .content-preview,
    .content-infomation,
    .content-share {
        /* margin-bottom: 2em; */
        display: block;
        position: relative;
        max-width: 15cm;
        margin: 0 auto 2em auto;
        font-family: 'Times New Roman', Times, serif;
        font-size: 1.2em;
        line-height: 1.5em;
    }
    .content-infomation {
        font-weight: 700;
        font-size: 2.2em;
    }
    .content-preview img {
        width: 100%;
        height: auto;
    }
    .content-preview * {
        margin-bottom: 1em;
    }
    .content-share {
        display: block;
        position: relative;
    }
    .content-share i {
        width: auto;
        height: auto;
        display: inline-block;
        margin-right: 1em;
        cursor: pointer;
        font-size: 1.4em;
    }
    .content-side {
        height: auto;
        padding: 3em 0;
        /* display: inline-block; */
        /* background-color: #044558; */
        position: relative;
    }
    .content-latest {
        height: auto;
        position: relative;
    }
    .content-latest .content-latest-item {
        width: 100%;
        height: auto;
        max-width: 280px;
        display: inline-block;
        border: 1px solid #f4f5f0;
        padding: 1em 6px;
        position: relative;
        margin: 0 1em 1em 0;
        cursor: pointer;
    }
    .content-latest .content-latest-item .content-latest-item-cover {
        width: 100%;
        height: auto;
        padding: 50%;
        /* padding: 28.125%; */
        background-size: cover;
        background-position: 0 0;
        background-repeat: no-repeat;
        background-color: #f4f5f0;
        position: relative;
        border: 1px solid #f4f5f0;
        margin-bottom: 1em;
    }
    .content-latest.loading .content-latest-item .content-latest-item-cover {
        background: linear-gradient(270deg, #f4f5f0, #e0e0e0);
        background-size: 400% 400%;
        -webkit-animation: loadingAnimation 1s ease infinite;
        -moz-animation: loadingAnimation 1s ease infinite;
        -o-animation: loadingAnimation 1s ease infinite;
        animation: loadingAnimation 1s ease infinite;
    }
    .content-latest .content-latest-item .content-latest-item-title {
        width: 100%;
        height: auto;
        margin-bottom: 4px;
        font-weight: 700;
        font-size: .9em;
        position: relative;
    }
    .content-latest.loading .content-latest-item .content-latest-item-title {
        background: linear-gradient(270deg, #f4f5f0, #e0e0e0);
        background-size: 400% 400%;
        -webkit-animation: loadingAnimation 1s ease infinite;
        -moz-animation: loadingAnimation 1s ease infinite;
        -o-animation: loadingAnimation 1s ease infinite;
        animation: loadingAnimation 1s ease infinite;
    }
    .content-latest .content-latest-item .content-latest-item-summary {
        width: 100%;
        height: auto;
        display: none;
        font-weight: 100;
        font-size: .9em;
        position: relative;
    }
    footer {
        width: 100%;
        height: auto;
        min-height: 150px;
        background-color: #faf9fb;
    }
    pre {
        /* font-family: 'Dosis', 'Noto Sans KR', sans-serif; */
    }
    .clearfix:before,
    .clearfix:after {
        display: block;
        content: '';
        clear: both;
    }
    .partition {
        position: relative;
        padding: 15px;
        float: left;
    }
    .partition-1 {
        width: 8.3333%;
    }
    .partition-2 {
        width: 16.6666%;
    }
    .partition-3 {
        width: 24.9999%;
    }
    .partition-4 {
        width: 33.3332%;
    }
    .partition-5 {
        width: 41.6665%;
    }
    .partition-6 {
        width: 49.9998%;
    }
    .partition-7 {
        width: 58.3331%;
    }
    .partition-8 {
        width: 66.6664%;
    }
    .partition-9 {
        width: 74.9997%;
    }
    .partition-10 {
        width: 83.333%;
    }
    .partition-11 {
        width: 91.6663%;
    }
    .partition-12 {
        width: 100%;
    }
    .loader {
        border: 5px solid #f3f3f3;
        border-radius: 50%;
        border-top: 5px solid #432282;
        width: 50px;
        height: 50px;
        -webkit-animation: spin 1.2s ease infinite;
        /* Safari */
        animation: spin 1.2s ease infinite;
    }
    @-webkit-keyframes spin {
        0% {
            -webkit-transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(360deg);
        }
    }
    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(360deg);
        }
    }
    @-webkit-keyframes loadingAnimation {
        0% {
            background-position: 0% 51%
        }
        50% {
            background-position: 100% 50%
        }
        100% {
            background-position: 0% 51%
        }
    }
    @-moz-keyframes loadingAnimation {
        0% {
            background-position: 0% 51%
        }
        50% {
            background-position: 100% 50%
        }
        100% {
            background-position: 0% 51%
        }
    }
    @-o-keyframes loadingAnimation {
        0% {
            background-position: 0% 51%
        }
        50% {
            background-position: 100% 50%
        }
        100% {
            background-position: 0% 51%
        }
    }
    @keyframes loadingAnimation {
        0% {
            background-position: 0% 51%
        }
        50% {
            background-position: 100% 50%
        }
        100% {
            background-position: 0% 51%
        }
    }
}

@media screen and (max-width: 640px) {
    .partition {
        width: 100%;
        height: auto;
        display: block;
    }
    .tags .tags-member .tags-member-image {
        padding-bottom: 65%;
    }
}