<%- include(global.app.get('views') + '/global/header') %>
	<script>
		var project_id = "<%- param.file.project_id %>";
		var resource_id = "<%- param.file.resource_id %>";
		var language_id = "<%- param.file.language_id %>";
		var previewFileList = JSON.parse('<%- JSON.stringify(param.file.previewFileList) %>');
		var encodedUrl = "<%- encodedUrl %>";
		var date = "<%- param.file.date %>";
		// var time = "<%- param.file.time %>";
		// var date = new Date().toLocaleDateString();
		var time = new Date("<%- param.file.time %>").toLocaleString();
	</script>
	<div class="intro">
		<div class="intro-cover"></div>
		<!-- <div class="intro-content">
			<div class="container">
			</div>
		</div> -->
		<div class="intro-background"  style="background-image: url('<%- param.file.cover %>')"></div>
		<img class="intro-image" src="<%- param.file.cover %>" />
	</div>
	<div class="container">
		<div class="content">
			<div class="partition partition-8">
				<div class="content-infomation">
					<p>
						<%- param.file.name %>
					</p>
					<p>
						<%- param.file.description %>
					</p>
				</div>
				<div class="content-preview">
					<div class="loader"></div>
				</div>
				<div class="content-share">
					<i class="fa fa-link share-link" aria-hidden="true"></i>
					<i class="fa fa-facebook-official share-facebook" aria-hidden="true"></i>
					<i class="fa fa-twitter share-twitter" aria-hidden="true"></i>
				</div>
			</div>
			<div class="partition partition-4">
				Latest Updates
				<div class="content-latest">
					<div class="content-latest-item" onclick="location.href = '/translated/{Project}/{Resource}';">
						<!-- http://storage.googleapis.com/cr-resource/image/2e3a142be5cabd704a705c52cf83125b/whosduck/600/4fb4510429a43ce9891ffc9429979e1e.jpg -->
						<div class="content-latest-item-cover" style="background-image: url({Cover});"></div>
						<!-- <div class="content-latest-item-cover" style="background-image: url(http://storage.googleapis.com/cr-resource/image/2e3a142be5cabd704a705c52cf83125b/whosduck/600/4fb4510429a43ce9891ffc9429979e1e.jpg);"></div> -->
						<span class="content-latest-item-title">
							{Title}
						</span>
						<span class="content-latest-item-summary">
							{Summary}
						</span>
					</div>
				</div>
			</div>
			<!-- <div class="content-line">
				<div class="content-article">
				</div>
				<div class="content-side">
					<span style="font-weight: 700; display: block; margin-bottom: 1em;">Latest Translations</span>
					<div class="content-latest">
						<div class="content-latest-item" onclick="location.href = '/translated/{Project}/{Resource}';">
							<div class="content-latest-item-cover" style="background-image: url({Cover});"></div>
							<span class="content-latest-item-title">
								{Title}
							</span>
							<span class="content-latest-item-summary">
								{Summary}
							</span>
						</div>
					</div>
				</div>
			</div>
			<div class="content-line">

			</div> -->
		</div>
	</div>
	<%- include(global.app.get('views') + '/global/footer') %>