<%- include(global.app.get('views') + '/global/header') %>
	<div class="intro">
		<div class="intro-cover"></div>
		<div class="intro-content">
			<div class="container">
				<!-- OF WANNABLE, BY WANNABLE, FOR WANNABLE
                <br> FAN FICTION WEBSITE -->
			</div>
		</div>
	</div>
	<div class="container">
		<div class="partition partition-12">
			<div class="subMenu">
				<a href="/fanfics">Latest Fanpics</a>
				<a class="selected" href="/fanfics/tags">Tags／Members</a>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="partition partition-12">
			<h1>Members</h1><br />
			<div class="tags">
				<div class="tags-member">
					<div class="tags-member-image" style="background-image: url(/img/members/1.jpg);"></div>
				</div>
				<div class="tags-member">
					<div class="tags-member-image" style="background-image: url(/img/members/2.jpg);"></div>
				</div>
				<div class="tags-member">
					<div class="tags-member-image" style="background-image: url(/img/members/3.jpg);"></div>
				</div>
				<div class="tags-member">
					<div class="tags-member-image" style="background-image: url(/img/members/4.jpg);"></div>
				</div>
				<div class="tags-member">
					<div class="tags-member-image" style="background-image: url(/img/members/5.jpg);"></div>
				</div>
				<div class="tags-member">
					<div class="tags-member-image" style="background-image: url(/img/members/6.jpg);"></div>
				</div>
				<div class="tags-member">
					<div class="tags-member-image" style="background-image: url(/img/members/7.jpg);"></div>
				</div>
				<div class="tags-member">
					<div class="tags-member-image" style="background-image: url(/img/members/8.jpg);"></div>
				</div>
				<div class="tags-member">
					<div class="tags-member-image" style="background-image: url(/img/members/9.jpg);"></div>
				</div>
				<div class="tags-member">
					<div class="tags-member-image" style="background-image: url(/img/members/10.jpg);"></div>
				</div>
				<div class="tags-member">
					<div class="tags-member-image" style="background-image: url(/img/members/11.jpg);"></div>
				</div>
			</div>
			<h1>Tags</h1><br />
			<div class="tags">
				<div class="tags-tag" value="tag1">tag1</div>
				<div class="tags-tag" value="tag2">tag2</div>
				<div class="tags-tag" value="tag3">tag3</div>
				<div class="tags-tag" value="tag4">tag4</div>
				<div class="tags-tag" value="tag5">tag5</div>
			</div>
		</div>
	</div>
	<div class="latestUpadate">
		<div class="container">
			<div class="partition partition-9">
				<div class="listView">
					<a class="listView-item">
						<div class="listView-item-content">
							<div class="listView-item-theme">[Minhyun X Daniel / NhynNiel/ The Name 01]</div>
							<br>
							<div class="listView-item-description">Minhyun X Daniel Minhyun X Daniel Minhyun X Daniel Minhyun X Daniel Minhyun X Daniel Minhyun X Daniel Minhyun X Daniel
								Minhyun X Daniel Minhyun X Daniel Minhyun X Daniel Minhyun X Daniel Minhyun X Daniel Minhyun X Daniel Minhyun X Daniel
								Minhyun X Daniel Minhyun X Daniel Minhyun X Daniel Minhyun X Daniel Minhyun X Daniel Minhyun X Daniel Minhyun X Daniel
								Minhyun X Daniel Minhyun X Daniel Minhyun X Daniel Minhyun X Daniel Minhyun X Daniel Minhyun X Daniel Minhyun X Daniel
							</div>
							<br>
							<div class="listView-item-description">작가</div>

						</div>
						<div class="listView-item-cover" style="background-image: url(http://storage.googleapis.com/cr-resource/image/2e3a142be5cabd704a705c52cf83125b/whosduck/600/4fb4510429a43ce9891ffc9429979e1e.jpg)"></div>
						<div class="clearfix"></div>
					</a>
					<a class="listView-item">
						<div class="listView-item-content">
							<div class="listView-item-theme">ddd</div>
							<br>
							<div class="listView-item-description">ssssssssssssssssssssss</div>
						</div>
						<div class="listView-item-cover"></div>
						<div class="clearfix"></div>
					</a>
					<a class="listView-item">
						<div class="listView-item-content">
							<div class="listView-item-theme">ddd</div>
							<br>
							<div class="listView-item-description">ssssssssssssssssssssss</div>
						</div>
						<div class="listView-item-cover"></div>
						<div class="clearfix"></div>
					</a>
					<a class="listView-item">
						<div class="listView-item-content">
							<div class="listView-item-theme">ddd</div>
							<br>
							<div class="listView-item-description">ssssssssssssssssssssss</div>
						</div>
						<div class="listView-item-cover"></div>
						<div class="clearfix"></div>
					</a>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="partition partition-3">
				<div>hello</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	<%- include(global.app.get('views') + '/global/footer') %>