<%- include(global.app.get('views') + '/global/header') %>
    <div class="intro">
        <div class="intro-cover"></div>
        <div class="intro-content">
            <div class="container">
                <!-- OF WANNABLE, BY WANNABLE, FOR WANNABLE
                <br> FAN FICTION WEBSITE -->
            </div>
        </div>
    </div>
    <div class="container">
        <div class="partition partition-12">
            <div class="subMenu">
                <a class="selected" href="/fanfics">Latest Fanpics</a>
                <a href="/fanfics/tags">Tags／Members</a>
            </div>
        </div>
    </div>
    <div class="latestUpadate">
        <div class="container">
            <div class="partition partition-9">
                <div class="listView">
                    <a class="listView-item">
                        <div class="listView-item-content">
                            <div class="listView-item-theme">[Minhyun X Daniel / NhynNiel/ The Name 01]</div>
                            <br>
                            <div class="listView-item-description">Minhyun X Daniel Minhyun X Daniel Minhyun X Daniel Minhyun X Daniel Minhyun X Daniel </div>
                            <br>
                            <div class="listView-item-description">작가</div>

                        </div>
                        <div class="listView-item-cover" style="background-image: url(http://storage.googleapis.com/cr-resource/image/2e3a142be5cabd704a705c52cf83125b/whosduck/600/4fb4510429a43ce9891ffc9429979e1e.jpg)"></div>
                        <div class="clearfix"></div>
                    </a>
                    <a class="listView-item">
                        <div class="listView-item-content">
                            <div class="listView-item-theme">ddd</div>
                            <br>
                            <div class="listView-item-description">ssssssssssssssssssssss</div>
                        </div>
                        <div class="listView-item-cover"></div>
                        <div class="clearfix"></div>
                    </a>
                    <a class="listView-item">
                        <div class="listView-item-content">
                            <div class="listView-item-theme">ddd</div>
                            <br>
                            <div class="listView-item-description">ssssssssssssssssssssss</div>
                        </div>
                        <div class="listView-item-cover"></div>
                        <div class="clearfix"></div>
                    </a>
                    <a class="listView-item">
                        <div class="listView-item-content">
                            <div class="listView-item-theme">ddd</div>
                            <br>
                            <div class="listView-item-description">ssssssssssssssssssssss</div>
                        </div>
                        <div class="listView-item-cover"></div>
                        <div class="clearfix"></div>
                    </a>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="partition partition-3">
                <div>hello</div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <%- include(global.app.get('views') + '/global/footer') %>